<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/styles/mainpage.css">
		<style>
			html, body {
				overflow: hidden;
				background-color: #383c4a !important;
			}
		</style>
	</head>
	<body>
		<div id="site-header">
			<div class="left-pane">
				<img src="/assets/logo.svg" width="auto" height="48px" alt="{nougat}">
			</div>
			<div class="right-pane">
				<a href="/index.html" target="_top">about</a>
				<a href="/spec" target="_top">docs</a>
				<a href="/plugins" target="_top">plugins</a>
				<a href="/download" target="_top">download</a>
				<a href="https://github.com/nougatlang" target="_top">github</a>
				<a href="https://htla.bbs.io" target="_top">by htlabs</a>
		</div>
	</body>
</html>
