<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
		<meta property="og:title" content="Nougat" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://nougat.js.org" />
        <meta property="og:image" content="https://nougat.js.org/assets/logo-raster.png" />
        <meta property="og:description" content="A next-generation programming language that intelligently compiles to JavaScript and aims to balance ease of use and raw performance!" />
        <meta name="theme-color" content="#f9e27b">
		<title>{title}</title>
		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="/styles/mainpage.css">
	</head>
	<body>
		<iframe id="navbar-container" type="text/html" src="/assets/templates/navbar.html"></iframe>
		<div id="content-separator"></div>
		<div class="zigzag"></div>
		
		<section>
			<div class="left-pane">
				<h1>chicken</h1>
				jockey
			</div>
			<div class="right-pane">
				
			</div>
		</section>
		<br>
		
		<img src="/assets/logo-footer.png" width="100%" height="auto" style="display: block;">
		<div id="footer-section">
			<a href="https://htla.bbs.io"><img src="https://raw.githubusercontent.com/Dogo6647/dogo6647/refs/heads/main/htlogo-white.png" width="auto" height="64px"></a>
			<div class="right-pane">
				<a href="#">back to top</a>
				<br>
				<a href="/contributors">contributors</a>
				<br>
				<a href="/faq">questions?</a>
			</div>
		</div>
	</body>
</html>
