@import url('https://fonts.googleapis.com/css2?family=Borel&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-fonts: 'Zilla Slab', 'Roboto Slab', serif, sans-serif;
    --h1-fonts: 'Borel', cursive;
}

html, body {
	margin: 0 auto;
	max-width: 1280px;
	min-height: 100vh;
	padding: 0 0 0 0;
	font-family: var(--main-fonts);
	font-size: 20px;
	background: 
		url('/assets/maze-noise.png'),
		linear-gradient(to top,	#f0f0f0, #f9f9f9);
}

br {
	user-select: none;
}

h1 {
	font-family: var(--h1-fonts);
	font-size: 48px;
	line-height: 1.25;
	margin-bottom: 0;
	font-weight: 100;
}

section {
	padding: 48px;
	box-sizing: border-box;
	
	width: 100vw;
    	max-width: 100%;
    	height: 100%;
    	
    	display: flex;
    	align-items: center;
    	vertical-align: center;
}

code {
	background-color: lightgray;
	color: #333;
	border-radius: 8px;
	padding: 2px;
	font-size: 16px;
}

line-h {
    display: block;
    user-select: none;
    --spacing: 32px;
    --color: #000;
    --thickness: 1px;
    background-color: var(--color);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    margin-left: 0px;
    margin-right: 0px;
    height: var(--thickness);
    width: 100%;
}

#navbar-container {
	background: 
		url('/assets/maze-noise.png'),
		linear-gradient(to top, #383c4a, #383c4a);
	color: white;
	display: block;
	box-sizing: border-box;
	
	width: 100vw;
    	max-width: 100%;
    	height: 100%;
    	max-height: 64px;
    	border: none;
}

#site-header {
	background: 
		url('/assets/maze-noise.png'),
		linear-gradient(to top, #383c4a, #383c4a);
	color: white;
	
	padding: 16px;
	padding-top: 30px;
	box-sizing: border-box;
	
	width: 100vw;
    	max-width: 100%;
    	height: 100%;
    	max-height: 64px;
    	
    	display: flex;
    	align-items: center;
    	vertical-align: center;
}

#site-header .right-pane a {
    	color: lightgray;
    	margin-left: 8px;
    	font-size: 16px;
    	text-decoration: none;
}

#site-header .right-pane a:hover {
	color: #fae896;
	text-shadow: 
		0.5px 0 currentColor,
		-0.5px 0 currentColor,
		0 0.5px currentColor,
		0 -0.5px currentColor
}

#hero-section {
	background: 
		url('/assets/maze-noise.png'),
		linear-gradient(to top, #272a34, #383c4a);
	color: white;
	
	padding: 48px;
	box-sizing: border-box;
	
	width: 100vw;
    	max-width: 100%;
    	
    	
    	display: flex;
    	align-items: center;
    	vertical-align: center;
}

#hero-section h1 {
	font-size: 54px;
	font-weight: 100;
	line-height: 1.5;
}

#footer-section {
	width: 100vw;
	max-width: 100%;
	height: 100%;
	
	background-color: gray;
	color: white;
	
	padding: 48px;
	box-sizing: border-box;
	margin: 0 0 0 0;
}

#footer-section a {
	color: white
}

#content-separator {
	display: none;
}

.left-pane {
	flex: 1;
	padding-right: 32px;
	text-align: left;
	align-self: left;
	vertical-align: center;
	max-width: 50%;
	float: left;
}

.right-pane {
	flex: 1;
	padding-left: 32px;
	align-self: right;
	text-align: right;
	vertical-align: center;
	max-width: 50%;
	float: right;
}

.codeblock {
	max-width: 640px;
	max-height: 480px;
	
	color: lightgray;
	background: linear-gradient(to bottom, #111, #222);
	border: 1px solid #555;
	outline: 2px solid black;
	
	border-radius: 8px;
	padding-left: 20px;
	padding-right: 20px;
	white-space: pre;
	
	overflow-x: auto;
	overflow-y: auto;
	font-family: monospace;
	font-size: 16px;
	text-align: left;
}

.zigzag {
	background-image: url('/assets/zigzag.png');
	background-repeat: repeat-x;
	background-position: top left;
	height: 16px;
	width: 100%;
}

.text-icon {
	border-radius: 100px;
	font-size: 128px;
	font-family: monospace;
	color: gray;
	background-color: lightgray;
	padding: 32px;
	flex: 0;
	border-top: 3px solid darkgray;
	border-bottom: 3px solid white;
	text-shadow: 0px 1px 0 #fff;
}


@media (max-width: 1000px) {
    html, body {
        font-size: 1.4em;
        max-width: 100vw;
        overflow-x: hidden;
    }

    h1,
    #hero-section h1 {
        font-size: 3em;
        line-height: 1.25;
        text-align: right;
    }
    
    #content-separator {
    	display: block;
    	padding-top: 128px;
    }
    
    #site-header {
    	max-height: 128px;
    	padding: 16px;
    	position: fixed;
    	z-index: 1000;
    }
    
    #navbar-container {
    	max-height: 128px;
    	position: fixed;
    	z-index: 1000;
    }

    section,
    #hero-section,
    #footer-section {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .left-pane,
    .right-pane {
        max-width: 100%;
        float: none;
        padding: 0;
    }

    #site-header .right-pane a {
        margin-right: 40px 0;
        font-size: 0.7em;
    }
    
    #site-header .left-pane img {
    	height: 150px;
    }
    
    .codeblock, code {
        max-width: 100%;
        max-height: none;
        font-size: 1.2em;
    }

    .text-icon {
        font-size: 3em;
        padding: 16px;
        position: absolute;
        
    }

    line-h {
        --spacing: 32px;
    }
}

